{% extends 'base_generic.html' %} {% block content %}

<h1>{{ blog.title }}</h1>

<p><strong>Post date: </strong>{{ blog.post_date }}</p>
<p>
  <strong>Author: </strong
  ><a href="{{ blog.author.get_absolute_url }}">{{ blog.author }}</a>
</p>
<p><strong>Description: </strong></p>
<p>{{ blog.description }}</p>

<div style="margin-left: 20px; margin-top: 20px">
  <h4>Comments</h4>
  {% for comment in blog.comment_set.all %}
  <hr/>
  <p>
    {{ comment.get_status_display }}
  </p>
  {% endfor %}
  {% if user.is_authenticated %}             
    <li><a href="{% url 'create-comment' %}?next={{request.path}}">Add a new comment</a></li>
  {% else %}
    <li><a href="{% url 'login' %}?next={{request.path}}">Login </a>to add a new comment</li>
  {% endif %}     
</div>
{% endblock %}
